body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.story {
	font-style: italic;
	color: rgba(80, 150, 80, 1);
}

.victory {
	font-weight: bold;
	color: rgba(30, 200, 30, 1);
}

.defeat {
	font-weight: bold;
	color: rgba(200, 40, 30, 1);
}

.enemy-heal {
	font-style: italic;
	color: rgba(190, 120, 120, 1);
}